<!DOCTYPE html><% const pageMeta = { path: './'} %>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <title>Document</title>
    <meta name="description" content="">
    <link rel="canonical" href="正規化URL">
    <!-- OGP -->
    <meta property="og:type" content="トップページはwebsite、個別ページはarticle">
    <meta property="og:title" content="ページのタイトル">
    <meta property="og:description" content="ページの説明">
    <meta property="og:site_name" content="サイト名">
    <meta property="og:url" content="サイトURL">
    <meta property="og:image" content="サムネイル画像のURL">
    <meta property="og:locale" content="ja_JP">
    <!-- OGP:twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="ページの説明">
    <!--<meta name="twitter:image:src" content="URL"> twitter:cardがsummaryの場合の画像設定-->
    <!--<meta name="twitter:site" content="@username">-->
    <!--<meta property="fb:app_id" content="AppID">-->
    <link rel="icon" href="./assets/img/common/favicon.ico">
    <link rel="icon" href="./assets/img/common/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="./assets/img/common/apple-touch-icon.png">
    
    <!-- css -->
    <!--
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- js -->
    <!--<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>-->
    <script src="./assets/js/script.js" defer></script>
    

  </head>
  <body>
    <div class="l-container" id="container">
      <%- include('_layout/_header', { meta: pageMeta }) %>
      <main class="l-main" id="main">

        <div class="p-indexHero">
          <div class="p-indexHero_inner">
            <ul class="p-indexHero_slide">
              <li><img src="https://placehold.jp/3d4070/ffffff/1200x800.jpg" alt=""></li>
              <li><img src="https://placehold.jp/3d4070/ffffff/1200x800.jpg" alt=""></li>
              <li><img src="https://placehold.jp/3d4070/ffffff/1200x800.jpg" alt=""></li>
              <li><img src="https://placehold.jp/3d4070/ffffff/1200x800.jpg" alt=""></li>
            </ul>
          </div>
        </div>
        
        <!-- section -->
        <section id="lead">
          <div class="p-indexLead">
            <div class="l-wrap">
              <div class="p-indexLead_lead">
                <h2>タイトル</h2>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
          </div>
        </section>
        <!-- /section -->

        <!-- section -->
        <section id="about">
          <div class="p-indexAbout">
            <div class="l-wrap">
              <div class="p-indexAbout_lead">
                <h2>タイトル</h2>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
          </div>
        </section>
        <!-- /section -->

      </main>
      <%- include('_layout/_footer', { meta: pageMeta }) %>
    </div><!--/l-container-->
  </body>
</html>