
      <footer class="l-footer">
        <div id="pageTop"></div>
        <div class="l-footer_inner l-wrap_inner">
          
          <div class="copyright"><small>Copyright &copy; company All rights reserved.</small></div>
        </div><!--/ft_inner-->
      </footer><!--/l-footer-->