
      <header class="l-header scroll_header">
        <div id="toggle">
          <span></span>
        </div>
        <div class="l-header_inner">
          <h1 class="header_logo nav_close"><a href="#"><img src="./assets/images/common/logo.png" alt="タイトル"></a></h1>
          <div class="l-header_navArea">
            <nav id="navGlobal">
              <ul class="menu">
                <li class="menu-item menu-item-has-children">
                  <a href="/"><span class="hover_bd">親メニュー</span></a>
                  <ul class="sub-menu">
                    <li><a href="https://www.google.com/search?q=googlefont&oq=google&aqs=chrome.0.69i59j69i57j35i39j69i60l2j69i65l3.1935j0j7&sourceid=chrome&ie=UTF-8"><span>子メニュー</span></a></li>
                    <li><a href=""><span>子メニュー</span></a></li>
                    <li><a href=""><span>子メニュー</span></a></li>
                  </ul>
                </li>
                <li class="menu-item"><a href="/"><span class="hover_bd">親メニュー</span></a></li>
                <li class="menu-item"><a href="/"><span class="hover_bd">親メニュー</span></a></li>
                <li class="menu-item"><a href="/"><span class="hover_bd">親メニュー</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>