.l-wrap {
  width: 100%;
  margin: 0 auto;
  &_inner {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
		padding-right: 15px;
    @include pc {
      max-width: 1230px;
    }
    @include sp {
      padding-left: 4vw;
			padding-right: 4vw;
    }
  }
}