@charset "UTF-8";

/*-------------------------------
  scroll_header用
-------------------------------*/

.scroll_header{
  transition: .5s;
}

/*-------------------------------
  header
-------------------------------*/


.l-header{
  width: 100%;
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  &_inner{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: $base_color;
    padding-left: 30px;
    padding-right: 30px;
    @include sp {
      height: 60px;
      padding-left: 3%;
      padding-right: 60px;
      background-color: #FFF;
      @include xs{
        height: 50px;
        padding-left: calc(50px + 0%);
      }
    }
  }
  &_navArea{
    @include pc {
      display: flex;
      align-items: center;
    }
    @include sp {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      width: 30%;
      min-width: 250px;
      height: 100%;
      padding-top: 80px;
      align-items: center;
      flex-direction: column;
      background-color: rgba(0,0,0,.7);
      padding-top: 60px;
      z-index: 777;
      text-align: center;
    }
    @include sp {
      top: 60px;
      padding-top: 60px;
      width: 100%;
      min-width: auto;
    }
    @include xs {
      top: 50px;
      padding-top: 50px;
    }
  }
}




.header_logo{
  width: 200px;
  height: auto;
  line-height: 1;
  margin-right: auto;
  z-index: 777;
  a{
    display: block;
    img{
      width: 100%;
    }
  }
}




/*-------------------------------
  nav PC
-------------------------------*/


#navGlobal{
  ul.menu{
    display: flex;
    @include sp {
      flex-direction: column;
    }
    & > li.menu-item{
      position: relative;
      & > a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 16px;
        padding: 0 1em;
        height: 80px;
        @include pc {
          &:hover{
            
          }
        }
        @include sp {
          font-size: 1.6rem;
        }
      }
      &.menu-item-has-children{
        & > a{
          @include sp {
            pointer-events: none;
          }
        }
      }
      &.menu_open{
        
      }
      //sub-menu
      & > ul.sub-menu{
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        @include sp {
          position: static;
          transform: none;
        }
        & > li{
          & > a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            padding: 1em 1em;
            color: #FFF;
            background: $base_color;
            transition: background-color .3s;
            @include pc {
              &:hover{
                background: $base_color_li;
              }
            }
            @include sp {
              width: 100%;
            }
          }
        }
      }
    }
  }
}


.hover_bd{
  position: relative;
  cursor: pointer;
  &:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: -.3em;
    left: 0;
    background-color: #FFF;
    transform: scale(0,1);
    transform-origin: right top;
    transition: transform .3s;
    @include sp {
      display: none;
    }
  }
  @include pc {
    &:hover{
      &:before{
        transform-origin: left top;
        transform: scale(1,1);
      }
    }
  }
}


/*-------------------------------
  toggle PC
-------------------------------*/

#toggle {
  position: fixed;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 999;
  @include pc {
    display: none;
  }
  @include sp {
    width: 60px;
    height: 60px;
    right: 0;
    background-color: $base_color;
  }
  @include xs {
    width: 50px;
    height: 50px;
  }
  span{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    height: 2px;
    background: #FFF;
    transform: translate(-50%,-50%);
    transition: .3s;
    &:before,&:after{
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      top: -6px;
      left: 0;
      background: #FFF;
      transition: .3s;
    }
    &:before{
      top: -8px;
      @include xs {
        top: -7px;
      }
    }
    &:after{
      top: 8px;
      @include xs {
        top: 7px;
      }
    }
  }
  &.active{
    span{
      background: 0,0;
      transition: .3s;
      &:before{
        top: 0;
        left: 0;
        transform: rotate(-45deg);
        transition: .3s;
      }
      &:after{
        top: 0;
        left: 0;
        transform: rotate(45deg);
        transition: .3s;
      }
    }
  }
}




