@use 'global/mixin' as m;
@use 'global/variable' as v;

.c-link {
  
  &_txt{
    text-decoration: underline;
    &:hover{
      color: v.$link;
    }  
  }

  &_opacity{
    transition: opacity v.$anime;
    &:hover{
      opacity: .75;
    }
  }

  &_underline{
    position: relative;
    cursor: pointer;
    &:before{
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: -.3em;
      left: 0;
      background-color: v.$base;
      transform: scale(0,1);
      transform-origin: right top;
      transition: transform .3s;
      @include m.sp {
        display: none;
      }
    }
    @include m.pc {
      &:hover{
        &:before{
          transform-origin: left top;
          transform: scale(1,1);
        }
      }
    }
  }
}